<ion-view title="{{navTitle}}"">
<ion-content class="padding" scroll="false">
    <div class="scrollsection">
        <h1 class="title">Movies : {{vm.totMovies}}, {{vm.totTheaters}}, {{vm.totExcludedMovies}}, {{vm.totExcludedTheaters}}</h1>
        <h5 class="title">xx Ionic Infinite Scroll with {{vm.moviesAtSpecficTimes.length}} items</h5>

        <ion-scroll direction="x">

            <!--class="item wide-item">item-divider
            on-scroll="scroller()"
            -->
            <div id="xxx" class="xxx">
                <div ng-repeat="atTime in vm.moviesAtSpecificTimes track by $index"
                     ng-click="vm.toggleGroup(atTime, 'outer{{$index}}')"
                     ng-class="{active: vm.isGroupShownClass1(atTime, $index, $last)}"
                     id="outer{{$index}}" class="item-stable outerdiv"
                     style="vertical-align:top; display: inline-block; width: 250px;
                     border-left: 1px solid black;border-top: 1px solid black;border-bottom: 1px solid black; margin-bottom: 10px; ">
                    <div id="inner{{$index}}" class="innerdiv" style="margin-bottom: 10px;">
                        <i class="icon" style="padding: 10px;"
                           ng-class="vm.isGroupShownClass2(atTime, $index, $last) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                        &nbsp;
                        at <b>{{atTime.keyTime}}, {{atTime.moviesAtTime.length}}</b> movies are playing </b>
                    </div>
                    <div ng-repeat="movie in atTime.moviesAtTime track by $index"
                         ng-show="vm.isGroupShownShow(atTime, $index, $last)" style="border: none; overflow: visible;"
                         id="accord{{$index}}" class="item-accordion">
                        <!--Time: {{movie.time}}<br/>-->
                        <!--Movie: {{movie.title}}</br>-->
                        <!--Theater: {{movie.theater}}</br>-->
                        <!--Runtime: {{movie.runtime}}</br>-->
                        <!--{{movie.title}} at {{movie.theater}}, runtime = {{movie.runtime}}-->
                        <div style="overflow: visible; width: 600px; border: 1px solid black;">at <b>{{movie.time}},
                            {{movie.title}}</b> is playing at <b>{{movie.theater}}</b>, runtime is
                            <b>{{movie.runtime}}</b>.
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </div>
    <!--<ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>-->
</ion-content>
<ion-footer-bar align-title="center" class="bar-assertive">
    <div class="title">
        <div class="buttons">
            <button class="button" ng-click="vm.showTheaters()">Show List of Theaters</button>
        </div>
    </div>
</ion-footer-bar>
</ion-view>
