<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">WHITNow! FAQ</h1>
        <button class="button" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        <h1>W.H.I.T Now (What's happening in Theaters Now)!

        </h1><p><b>WHITNow!&trade;</b> displays what's playing in movies theaters right NOW or a time interval that you can specify

    </p><p>You can request what movies are playing today or tomorrow.

    </p><p><b>WHITNow!&trade;</b> will figure out your zip code based on where your mobile device is currently located. If that is incorrect
        you can manually input the zip code for the area that you are interested in.

    </p><p>The default range is 10 miles.

    </p><p><b>WHITNow!&trade;</b> assumes that you are interested in movies playing NOW, so we prefill show times starting with the current hour
        and ending 3 hours from now. Like all other, fields you can manually override this.

    </p><p>If you know what movie you are interested in and want to limit the number of movies displayed, fill in the Title field with the
        first few characters of the movie title that you are interested in. For instance, "In" will only display movie times for "Inside Out"

    </p><p>By default, <b>WHITNow!&trade;</b> displays movies by every start time at every theater in your zip code. This can result in a very large
        display of data. You can compress the display by clicking one of the "Group By" buttons. Clicking "15 min" will group movie
        start times into 15 minute increments, "30 min" into 30 minute increments and finally "60 min" will group movie start times
        into 1 hour increments

    </p><p>Finally, you can choose how to view your movie showtimes: vertical (portrait) or horizontal (landscape).
    </p><p>So customize your required movie showtimes, or accept <b>WHITNow!&trade;</b>'s defaults and click the <b>Movie Times</b> button
        to see your results
        </p><p>Or, if you just want to see theaters in your neighborhood, click the <b>Theaters</b> button.

        </p><p>When the list of theaters is displayed, you can inform <b>WHITNow!&trade;</b> what theaters that you are NOT interested in.
        If you do so, movies playing at those theaters will be filtered out of the list of movie showtimes displayed.
</p><p>
        You can direct any complaints, suggestions, donations to <a href="mailto:whitnow@google.com">whitnow@google.com</a>
    </p>

    </ion-content>
</ion-modal-view>
