<ion-view>
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="title">
            <div class="buttons">
                <button class="button" ng-click="saveExclusion()">Save Exclusion List</button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <!--<div class="item item-divider"> Theaters</div>-->
            <ion-toggle ng-repeat="atheater in theaterList" ng-model="atheater.include" ng-checked="atheater.include">
                {{ atheater.theaterName }}
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>

