<ion-view view-title="{{vm.navTitle}}">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-refresh" ng-click="refreshMovies()"></button>
    </ion-nav-buttons>
    <ion-content delegate-handle="root1-scroll-handle">

        <form novalidate name="formSettings" class="formSettings">

            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Date : {{vm.settingsObj.viewdate}}</div>
                </div>
                <div class="col ">
                    <div class="button-bar" style="width:70%;">
                        <a ng-class="vm.clToday" ng-click="vm.whichDate('today')">Today</a>
                        <a ng-class="vm.clTomorrow" ng-click="vm.whichDate('tomorrow')">Tomorrow</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Orientation</div>
                </div>
                <div class="col">
                    <div class="button-bar" style="width:70%;">
                        <a ng-class="vm.clVer" ng-click="vm.whichOrient('Ver')">Vertical</a>
                        <a ng-class="vm.clHor" ng-click="vm.whichOrient('Hor')">Horizontal</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">ZipCode</div>
                </div>
                <div class="col">
                    <input maxlength="5" required type="text"
                           placeholder="{{vm.phZip}}" ng-class="vm.clZip" ng-pattern="/^[0-9]{5,5}$/"
                           ng-model-options="{ updateOn: blur }"
                           ng-model="vm.settingsObj.viewzip" id="viewzip" name="viewzip"/>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Miles</div>
                </div>
                <div class="col">
                    <input required maxlength="2"
                           ng-pattern="/^[0-9]{1,2}$/" type="text" ng-class="vm.clZip"
                           placeholder="{{vm.phMiles}}"
                           ng-model="vm.settingsObj.viewmiles" id="viewmiles" name="viewmiles"/>

                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Showing Between</div>
                </div>
                <div class="col">
                    <input type="time" step="3600" placeholder="Begin Time"
                           ng-model="vm.settingsObj.viewbegintime"
                           id="viewbegintime" name="viewbegintime"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">and</div>
                </div>
                <div class="col">
                    <input type="time" step="3600" placeholder="End Time"
                           ng-model="vm.settingsObj.viewendtime"
                           id="viewendtime" name="viewendtime"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Title</div>
                </div>
                <div class="col">
                    <input type="text" placeholder="Title Starts With"
                           ng-model="vm.settingsObj.viewstartsWith"
                           id="viewstartsWith" name="viewstartsWith"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Cache</div>
                </div>
                <div class="col">
                    <input type="text" placeholder="Refresh period"
                           ng-model="vm.settingsObj.viewCacheTime"
                           id="viewCacheTime" name="viewCacheTime"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33">
                    <div class="input-label" style="padding-left: 16px;">Group Results</div>
                </div>
                <div class="col">
                    <div class="button-bar" style="width:70%;">
                        <a ng-class="vm.clInt0" ng-click="vm.whichInterval('0')">None</a>
                        <a ng-class="vm.clInt15" ng-click="vm.whichInterval('15')">15 min</a>
                        <a ng-class="vm.clInt30" ng-click="vm.whichInterval('30')">30 min</a>
                        <a ng-class="vm.clInt60" ng-click="vm.whichInterval('60')">60 min</a>

                    </div>
                    <!--<select ng-model="vm.settingsObj.viewTimeSpan" id="viewTimeSpan" name="viewTimeSpan" style="width: 50%; text-align: left;">-->
                    <!--<option value="0" >none</option>-->
                    <!--<option value="15">15 minutes</option>-->
                    <!--<option value="30">30 minutes</option>-->
                    <!--<option value="60" selected>60 minutes</option>-->

                    <!--</select>-->

                </div>
            </div>
            <div class="row">
                <div class="col" ><p ng-bind-html="vm.errMsg"</p></div>
            </div>
            <div class="row">
                <div class="col col-offset-33">
                    <a class="button button-positive " ng-click="vm.handleClick('ver', '', formSettings)">Movie
                        Times</a>
                    <a class="button button-positive"
                       ng-click="vm.handleClick('', 'theaters', formSettings)">Theaters</a>
                </div>
                <!--<div class="col">-->
                <!--</div>-->
                <!--<div class="col"></div>-->
                <!--<a class="button button-positive" ng-click="vm.handleClick('hor', formSettings)">Movie Times1</a>

                <div class="input-label" style="padding-left: 16px;" >{{vm.errorMessage}}</div>
                -->

            </div>

            <!--<div class="button-bar">-->

            <!--</div>-->
        </form>
    </ion-content>

</ion-view>