<!DOCTYPE html>
<html ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>
<body ng-controller="SettingsController" >

<!--<ion-pane>-->
<ion-header-bar class="bar-stable">
    <h1 class="title">Settings for Movie Times</h1>
</ion-header-bar>
<ion-content padding="true">

    <div class="list">
        <label class="item item-input"><span class="input-label">Date</span><input type="text" placeholder="Date" ng-model="viewdate" id="viewdate" name="viewdate"/> </label>
        <label class="item item-input"><span class="input-label">Zip</span><input type="text" placeholder="Zip" ng-model="viewzip" id="viewzip" name="viewzip"/> </label>
        <label class="item item-input"><span class="input-label">Miles</span><input type="text" placeholder="Miles" ng-model="viewmiles" id="viewmiles" name="viewmiles"/> </label>
        <label class="item item-input"><span class="input-label">Time Begin</span><input type="text" placeholder="Begin Time" ng-model="viewbegintime" id="viewbegintime" name="viewbegintime"/> </label>
        <label class="item item-input"><span class="input-label">Time End</span><input type="text" placeholder="End Time" ng-model="viewendtime" id="viewendtime" name="viewendtime"/> </label>
        <label class="item item-input"><span class="input-label">Tile</span><input type="text" placeholder="Title Starts With" ng-model="viewstartsWtuh" id="titlestartsWith" name="titlestartsWith"/> </label>
        <label class="item item-input"><span class="input-label">Zone</span><input type="text" placeholder="Zone" ng-model="viewZone" id="timeZone" name="timeZone"/> </label>
    </div>

        <button ng-click="btnSubmit()" class="button button-block button-positive" id="btnSubmit" name="btnSubmit">Find Time</button>
        <button ng-click="btnSubmit()" class="button button-block button-positive" id="btnSubmit1" name="btnSubmit1">Find Time1</button>
        <button ng-click="btnSubmit()" class="button button-block button-positive" id="btnSortTitle" name="btnSortTitle" >Sort by Title</button>
        <button ng-click="btnSubmit()" class="button button-block button-positive" id="btnSortTheater" name="btnSortTheater" >Sort by Theater</button>
</ion-content>
<!--</ion-pane>-->
</body>
</html>
